<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Classrooms</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../">English School</a>
        <div class=" collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../student">Students
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../class">Classes
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Classrooms
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="../teacher">Teachers
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="./create" class="btn btn-primary btn-lg btn-block">Create new classroom</a>
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="getAll()">List all the classrooms</button>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <ul class="list-group" id="output">

                </ul>
            </div>
        </div>
    </div>

    <script>
        function getAll() {
            axios.get('/api/room')
                .then(function (response) {
                    document.getElementById('output').innerHTML = response.data.map(function (room) {
                        return (
                            '<li class="list-group-item d-flex justify-content-between align-items-center"> Room name: ' +
                            room.name + '  ' +
                            '<button type="button" class="btn btn-success btn-sm" onclick=del(' + room.id + ')>Del</button>' +
                            '<button type="button" class="btn btn-danger btn-sm" onclick=edit(' + room.id + ')>Edit</button>' +
                            '' +
                            '</li><br/>'
                        );
                    }).join('');
                })
                .catch(function (err) {

                });
        }
        function del(id) {
            axios.delete('/api/room/' + id)
                .then(function(){
                    getAll();
                })
                .catch();
        }
    </script>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>