<div class="row justify-md-center">
  <div class="col-md-auto">
    <form>
      <div class="group-form">
        <input type="text" class="form-control" name="fullname" [(ngModel)]="teacher.fullname">
      </div>
      <div class="group-form">
        <input type="text" name="cid" class="form-control" [(ngModel)]="teacher.cid">
      </div>
      <div class="group-form">
        <input type="text" name="address" class="form-control" [(ngModel)]="teacher.address">
      </div>
      <div class="group-form">
        <input type="email" name="email" class="form-control" [(ngModel)]="teacher.email">
      </div>
      <div class="group-form">
        <input type="text" name="phoneNumber" class="form-control" [(ngModel)]="teacher.phone_number">
      </div>
      <div class="group-form">
        <input type="text" name="birthday" class="form-control" [(ngModel)]="teacher.birthday">
      </div>
    </form>
  </div>
</div>