<div class="container">
  <div class="row inline-block">
    <div class="col-md-3 col-md-offset-2">
      <div ngbDropdown class="d-inline-block">
        <label for="dropteachers">List of teachers:</label>
        <button name="dropteachers" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Teachers <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-2">      
        <button class='btn btn-primary' ng-show="newShow"><i class="fa fa-plus-square"></i> New</button>  
        <button class='btn btn-danger' ng-show="delShow"><i class="fa fa-minus-square"></i> Delete</button>        
        <button class='btn btn-primary' ng-show="saveShow"><i class="fa fa-save"></i> Save</button>
        <button class='btn btn-primary' ng-show="dismssShow"><i class="fa fa-eraser"></i> Dismiss</button>
    </div>
  </div>
</div>