<div class="container">
  <div class="row inline-block">
    <div class="col-md-4 col-md-offset-1">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Teachers</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <div *ngIf="buttonState">
        <button class='btn btn-primary' ng-show="delShow">Delete</button>
        <button class='btn btn-primary' ng-show="newShow">New</button>
      </div>
      <div *ngIf="!buttonState">
        <button class='btn btn-primary' ng-show="saveShow">Save</button>
        <button class='btn btn-primary' ng-show="dismssShow">Dismiss</button>
      </div>


    </div>
  </div>
</div>